name: CI-CD workflow
on:
    push:
        branches:
            - main
jobs: 
    test_job:
        runs-on: ubuntu-latest
        steps:
            - name: checkout code
              uses: actions/checkout@v2
            - name: setup python
              uses: actions/setup-python@v4
              with: 
                python-version: '3.10'
            - name: install dependencies
              run: pip install -r requirements.txt
            - name: run test cases
              run: pytest --cov=calc --cov-report=term 
    deploy_job:
        runs-on: ubuntu-latest
        needs: test_job
        steps:
            - name: print message
              run: echo 'display job started'