name: CI-CD workflow
on:
    push:
        branches:
            - main
jobs: 
    test_job:
        runs-on: ubuntu-latest
        steps:
            - name: checkout code
              uses: actions/checkout@v2
            - name: setup python
              uses: actions/setup-python@v4
              with: 
                python-version: '3.10'
            - name: install dependencies
              run: pip install -r requirements.txt
            - name: run test cases
              run: pytest --cov=calculator --cov-report=term --cov-report=html --cov-fail-under=80
            - name: download code coveerage
              uses: actions/upload-artifact@v4
              with:
                name: html-code-cov-report
                path: htmlcov/
    deploy_job:
        runs-on: ubuntu-latest
        needs: test_job
        steps:
            - name: print message
              run: echo 'display job started'